{% extends "base.html" %}
{% block title %}
    Index
{% endblock %}
{% load static %}
{% block content %}
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Start tracking your progress!</h1>
                <h5 class="h5_text">We created this project to help you with your productivity. This tool helps you
                    track all your
                    activities like sports, work, hobbies</h5>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h3>Sign up</h3>
                    <p>Just create your account</p>
                </div>
                <div class="col-md-4">
                    <h3>Create first project</h3>
                    <p>Create your first project like: sport</p>
                </div>
                <div class="col-md-4">
                    <h3>Start to commit your activities</h3>
                    <p>It's fun to control your activities.</p>
                </div>
            </div>

            <hr>
            <div class="row">
                <img src="{% static 'img/screenshot01.png' %}" alt="your progress">
            </div>
        </div> <!-- /container -->

    </main>

{% endblock %}